<% layout('layouts/boilerplate')%>
<h3>Reset Password</h3>

<form action="/reset" method="POST" class="validated-form" novalidate>
    <div class="mb-3">
        <label class="form-label" for="password">New Password </label>
        <input class="form-control" type="text" placeholder="New Password" id="password" name="password" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="password">Confirm Password </label>
        <input class="form-control" type="text" placeholder="Confirm password" id="password" name="password" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <button class="btn btn-success">Update Password</button>
</form>